/*4-Mobile*/
@media (max-width: 414px){
    
    .hide-for-mobile{
        display: none;
    }

    html{
        min-height: 100vh;
    }
    
    body{
        margin-top: 50px;
    }

    section{
        width: 90%;
        max-height: 40%;
        display: flex;
        justify-content: center;
        align-content: center;
        z-index: 0;
    }

    .faq{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin: 120px 0 0 0;
        }
    }
    

    #qna{
        margin-left: 20px;
        margin-right: 20px;
    }

    .mobile-showcase{
        display: block;

        #image_mobile{
            position: absolute;
            top: -22%;
            left: 50%;
            z-index: 2;
            transform: translateX(-55%);
        }

        #shadow_mobile{
            transform: translateX(-50%);
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
        }
    }


}